# IMPORTS

In [1]:
import sqlite3 as sq

# Exercicio 1 - Criar tabelas e Inserir dados

In [2]:
sql = sq.connect("clientes.db")

cursor = sql.cursor()

#### Criando tabela de dados cadastrais

In [4]:
#cursor.execute("DROP TABLE dados_cadastrais")

cursor.execute(
    "CREATE TABLE dados_cadastrais\
    (id integer, nome text, sobrenome text, data_nasci text, cpf integer, endereco text)"
)

#### Criando tabela de Dados Profissionais

In [5]:
#cursor.execute("DROP TABLE dados_profissionais")

cursor.execute(
    "CREATE TABLE dados_profissionais\
    (id integer, graduacao text, cargo text, salario decimal, tempo_casa integer)"
)

#### Inserindo dados na tabela de Dados Cadastrais e Dados profissionais

In [6]:
#inserindo dados em Dados Cadastrais
cursor.execute(
    "INSERT INTO dados_cadastrais\
     VALUES(1, 'maria', 'silva','01/01/2000', 11111211313,'Rua 1 - SP')"
)

cursor.execute(
    "INSERT INTO dados_cadastrais\
     VALUES(2, 'joao', 'silva','01/02/2000', 11111211889,'Rua 2 - SP')"
)

cursor.execute(
    "INSERT INTO dados_cadastrais\
     VALUES(3, 'pedro', 'pereira','01/03/2000', 11111211786,'Rua 8 - SP')"
)

cursor.execute(
    "INSERT INTO dados_cadastrais\
     VALUES(4, 'paulo', 'ribeiro','01/04/2000', 11111211123,'Rua 9 - SP')"
)

#Inserindo dados em Dados profissionais

cursor.execute(
    "INSERT INTO dados_profissionais\
     VALUES(1, 'matematica', 'professor',3500.89 ,3)"
)

cursor.execute(
    "INSERT INTO dados_profissionais\
     VALUES(2, 'geografia', 'orientador',2850.8 ,1)"
)

cursor.execute(
    "INSERT INTO dados_profissionais\
     VALUES(3, 'historiador', 'orientador',3200.45 ,1)"
)

cursor.execute(
    "INSERT INTO dados_profissionais\
     VALUES(4, 'física', 'professor',1890.33 ,2)"
)

## Exercicio 2 - Retorne todos os campos da tabela "Dados profissionais" ordenando de forma decrescente a coluna tempo casa

In [7]:
cursor.execute(
   "SELECT *\
    FROM dados_profissionais\
    GROUP BY  id\
    ORDER BY tempo_casa DESC"
)
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (4, 'física', 'professor', 1890.33, 2),
 (3, 'historiador', 'orientador', 3200.45, 1),
 (2, 'geografia', 'orientador', 2850.8, 1)]

## Exercicio 3 - Contar a quantidade de funcionarios da empresa

In [8]:
cursor.execute(
    "SELECT COUNT(id)\
    FROM dados_profissionais"
)
cursor.fetchall()

[(4,)]

## Exercicio 4 - Utilizando a tabela de dados Cadastrais listar funcionarios com o nome "SILVA", ordenados por nome completo (primeiro nome + sobrenome)

In [9]:
cursor.execute(
    "SELECT *\
    FROM dados_cadastrais\
    WHERE sobrenome == 'silva'\
    ORDER BY nome, sobrenome "
)
cursor.fetchall()

[(2, 'joao', 'silva', '01/02/2000', 11111211889, 'Rua 2 - SP'),
 (1, 'maria', 'silva', '01/01/2000', 11111211313, 'Rua 1 - SP')]

## Exercicio 5 - Uma Query que liste o valor de pagamento da empresa, por cargo, usando "dados_profissionais"

In [10]:
cursor.execute(
    "SELECT SUM(salario) as somaSalarioCargo, cargo\
    FROM dados_profissionais\
    GROUP BY cargo"
)
cursor.fetchall()

[(6051.25, 'orientador'), (5391.219999999999, 'professor')]